In [28]:
import pandas as pd
from sklearn.metrics.pairwise  import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
#Load our data
df = pd.read_csv("Best Movie by Year Netflix.csv")

In [30]:
#Display the dataset
df.head()

   index                 TITLE  RELEASE_YEAR  SCORE MAIN_GENRE MAIN_PRODUCTION
0      0       White Christmas          1954    7.5    romance              US
1      1  The Guns of Navarone          1961    7.5        war              US
2      2          My Fair Lady          1964    7.8      drama              US
3      3      Bonnie and Clyde          1967    7.7      drama              US
4      4           Dirty Harry          1971    7.7   thriller              US

In [31]:
# I want only the title and the genre
df = df.drop(['index', 'RELEASE_YEAR', 'SCORE', 'MAIN_PRODUCTION'], axis=1)

In [32]:
#Display the dataset
df.head()

                  TITLE MAIN_GENRE
0       White Christmas    romance
1  The Guns of Navarone        war
2          My Fair Lady      drama
3      Bonnie and Clyde      drama
4           Dirty Harry   thriller

In [33]:
#Convert the genre into a matrix of token counts
cv = CountVectorizer()
genre_matrix = cv.fit_transform(df['MAIN_GENRE'])

In [34]:
#Calculate the similarity between movies
cosine_sim = cosine_similarity(genre_matrix)

In [51]:
# We want it to recommend similar movies
def recommend(TITLE):
    matches = df[df.TITLE == TITLE]
    if matches.empty:
        print(f"No movie found with title '{TITLE}'")
        return
    
    idx = matches.index[0]
    similarity_scores = list(enumerate(cosine_sim[idx]))
    sorted_movies = sorted(similarity_scores, key=lambda x: x[1], reverse=True)

    print(f"You watched **{TITLE}**, you might like:")

    # Count how many recommendations you've given so far
    rec_count = 0
    for i in sorted_movies:
        recommended_title = df.iloc[i[0]].TITLE
        if recommended_title != TITLE:
            print(f"{recommended_title}")
            rec_count += 1
        if rec_count == 3:
            break


#Lets try it
recommend('Annie')

You watched **Annie**, you might like:
My Fair Lady
Bonnie and Clyde
Once Upon a Time in America